<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.companyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompanyApp">
        <activity android:name=".FormActivity.DeSondossier"></activity>
        <activity android:name=".FormActivity.PromoteurActivity" />
        <activity android:name=".FormActivity.AgentImport" />
        <activity android:name=".FormActivity.AgentCafore" />
        <activity android:name=".RegisterActivity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity" >

        </activity>
        <activity android:name=".RegisterActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>